@model WebApplication1.Models.Empleados

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Crear Nuevo Empleado</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Nombre_Empleado, "Nombre", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Nombre_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_Empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Empleado", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Apellido_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido_Empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Correo_Empleado, "Correo", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Correo_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo_Empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Descripcion_Empleado, "Descripción", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Descripcion_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion_Empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-11 offset-sm-3">
                <input type="submit" value="Crear" class="btn btn-primary mr-2" />
                @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
</div>