@model WebApplication1.Models.Empleados

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Eliminar</h2>

    <h3>¿Está seguro de eliminar este empleado?</h3>

    <div>
        <hr />
        <dl class="row justify-content-center">
            <dt class="col-4">
                @Html.DisplayNameFor(model => model.Nombre_Empleado)
            </dt>
            <dd class="col-4">
                @Html.DisplayFor(model => model.Nombre_Empleado)
            </dd>

            <dt class="col-4">
                @Html.DisplayNameFor(model => model.Apellido_Empleado)
            </dt>
            <dd class="col-4">
                @Html.DisplayFor(model => model.Apellido_Empleado)
            </dd>

            <dt class="col-4">
                @Html.DisplayNameFor(model => model.Descripcion_Empleado)
            </dt>
            <dd class="col-4">
                @Html.DisplayFor(model => model.Descripcion_Empleado)
            </dd>

            <dt class="col-4">
                @Html.DisplayNameFor(model => model.Correo_Empleado)
            </dt>
            <dd class="col-4">
                @Html.DisplayFor(model => model.Correo_Empleado)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a href="@Url.Action("Index")" class="btn btn-secondary">Atrás</a>
            </div>
        }
    </div>
</div>

