@using WebApplication1.Models;

@{
    ViewBag.Title = "ImagenesEmp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Empleados

<head>
    <link href="~/Content/Nosotros.css" rel="stylesheet" />
</head>

<section class="titEmp">
    <h1>Imágenes del Empleado</h1>
    <p>Nombre del Empleado: @Model.Nombre_Empleado</p>
</section>

<body>
    <p class="crearBTN">
        @Html.ActionLink("Añadir Imagen", "AddImage", new { id = Model.Id_Empleado }) |
        @Html.ActionLink("Atrás", "Index")
    </p>
    <table class="formEmp">
        <tr>
            <th class="atributosEmp">Descripción</th>
            <th class="atributosEmp">Imagen</th>
            <th class="atributosEmp">Acción</th>
        </tr>
        @foreach (var imagen in Model.ImagenesEmpleados)
        {
            <tr>
                <td>@imagen.FileName</td>
                <td>
                    <img src="data:image/png;base64,@Convert.ToBase64String(imagen.ImageData)" />
                </td>
                <td class="linkEmpleados">
                    @Html.ActionLink("Eliminar", "DeleteImage", new { id = imagen.Id })
                </td>
            </tr>
        }
    </table>


</body>