@model IEnumerable<WebApplication1.Models.Empleados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Lista de Empleados</h2>

    <div class="row mb-3">
        <div class="col">
            @Html.ActionLink("Crear Nuevo Empleado", "Create", new { @class = "btn btn-primary" })
        </div>
        <div class="col">
            @Html.ActionLink("Agregar Planilla de Empleados", "Index", "Planillas")
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Empleado</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nombre_Empleado) @Html.DisplayFor(modelItem => item.Apellido_Empleado)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descripcion_Empleado)</td>
                    <td>@Html.DisplayFor(modelItem => item.Correo_Empleado)</td>
                    <td>
                        <div class="btn-group" role="group">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id_Empleado }, new { @class = "btn btn-warning btn-sm" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id_Empleado }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_Empleado }, new { @class = "btn btn-danger btn-sm" })
                            @Html.ActionLink("Imagen", "EmpleadoImagen", new { id = item.Id_Empleado }, new { @class = "btn btn-warning btn-sm" })
                            @Html.ActionLink("Descargar Planilla", "Planilla", new { id = item.Id_Empleado, nombre = item.Nombre_Empleado, apellido = item.Apellido_Empleado }, new { @class = "btn btn-success btn-sm" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>