@model WebApplication1.Models.Reseñas

@{
    ViewBag.Title = "Create";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Crear Nueva Reseña</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Comentario, "Comentario", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Calificacion, "Calificación", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-6">
                @Html.EditorFor(model => model.Calificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Calificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Id_Usuario, "Id Usuario", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
            <div class="col-sm-6">
                @Html.DropDownList("Id_Usuario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-11 offset-sm-3">
                <input type="submit" value="Crear" class="btn btn-primary mr-2" />
                @Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
</div>