@model IEnumerable<WebApplication1.Models.Reseñas>

@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/Content/resenas/styles.css" rel="stylesheet" />
    <link href="~/Content/reseñas/index.css" rel="stylesheet" />
    <!-- Ajusta la ruta según la ubicación de tus archivos CSS -->
</head>
<h2>Administrador de reseñas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>

            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Resena })
        </td>
    </tr>
}

</table>
