@model WebApplication1.Models.ImagenesProductos

@{
    ViewBag.Title = "DeleteImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/Nosotros.css" rel="stylesheet" />
</head>

<section class="titEmp">
    <h1>Eliminar Imagen</h1>
</section>

<h3 class="titConfirmacionEmp">¿Estás seguro de querer eliminar esta imagen?</h3>
<div>
    <dl class="formEmp">
        <dt class="atributosDetallesEmp">
            @Html.DisplayNameFor(model => model.Nombre_Foto_Producto)
        </dt>

        <dd class="atributosEmp">
            @Html.DisplayFor(model => model.Nombre_Foto_Producto)
        </dd>

        <dt class="atributosDetallesEmp">
            @Html.DisplayNameFor(model => model.Foto_Producto)
        </dt>

        <dd class="atributosEmp">
            @Html.DisplayFor(model => model.Foto_Producto)
        </dd>

        <dt class="atributosDetallesEmp">
            @Html.DisplayNameFor(model => model.Productos.Nombre_Producto)
        </dt>

        <dd class="atributosEmp">
            @Html.DisplayFor(model => model.Productos.Nombre_Producto)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="botones">
            <input type="submit" value="Eliminar" class="btnCrear" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>