@model WebApplication1.Models.Reseñas

@{
    ViewBag.Title = "Create";
}

<div class="contenedor mt-5">
    <h2 class="mb-4">Dejános un comentario</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Calificacion, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Calificacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Calificacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
            @Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
