@model WebApplication1.Models.Servicios_Productos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-danger">Eliminar</h2>

    <h3 class="text-warning">¿Está seguro de eliminar esto?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Promo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Promo)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Precio_Promo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Precio_Promo)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FileName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FileName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ImageData)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ImageData)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Categorias.Nombre_Categoria)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Categorias.Nombre_Categoria)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                @Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
