@model WebApplication1.Models.Servicios_Productos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Promo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Promo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorias.Nombre_Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.Nombre_Categoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Atrás", "Index")
</p>
