@model IEnumerable<WebApplication1.Models.Servicios_Productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Administración de Servicios y Productos</h2>
    <br />
    <p class="text-center">
        @Html.ActionLink("Crear Nuevo", "Create", new { @class = "btn btn-primary" })
    </p>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Precio)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Promo)</th>
                    <th class="text-center">Promo</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Nombre del Archivo</th>
                    <th class="text-center">Categoría</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Promo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Precio_Promo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td>
                            <img src="@Url.Content("~/imagenes/ImagenesProductosServicios/" + item.FileName)" alt="Imagen" width="100" height="100" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Categorias.Nombre_Categoria)</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
