@model WebApplication1.Models.ImagenesPromosServ

@{
    ViewBag.Title = "DeleteImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/Promociones.css" rel="stylesheet" />
</head>

<section class="titPromos">
    <h1>Eliminar Imagen</h1>
</section>

<h3 class="titConfirmacionPromo">¿Estás seguro de querer eliminar esta imagen?</h3>
<div>
    <dl class="formPromos">
        <dt class="atributosDetallesPromos">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd class="atributosPromos">
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt class="atributosDetallesPromos">
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>

        <dd class="atributosPromos">
            @Html.DisplayFor(model => model.ImageData)
        </dd>

        <dt class="atributosDetallesPromos">
            @Html.DisplayNameFor(model => model.PromocionesServicios.Nombre_Promo)
        </dt>

        <dd class="atributosPromos">
            @Html.DisplayFor(model => model.PromocionesServicios.Nombre_Promo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="botones">
            <input type="submit" value="Eliminar" class="btnEnviar" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>