@model IEnumerable<WebApplication1.Models.PromocionesServicios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Promo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion_Promo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_Promo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicios.Nombre_Servicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Promo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_Promo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_Promo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicios.Nombre_Servicio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Promo_Servicio }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Promo_Servicio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Promo_Servicio })
        </td>
    </tr>
}

</table>
