@using WebApplication1.Models;

@{
    ViewBag.Title = "PromoServImagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PromocionesServicios

<head>
    <link href="~/Content/Promociones.css" rel="stylesheet" />
</head>

<section class="titPromos">
    <h1>Imágenes de la promoción</h1>
    <p>Nombre de la promoción: @Model.Nombre_Promo</p>
</section>

<body>
    <p class="crearBTN">
        @Html.ActionLink("Añadir Imagen", "AddImage", new { id = Model.Id_Promo_Servicio }) |
        @Html.ActionLink("Atrás", "Index")
    </p>
    <table class="formPromos">
        <tr>
            <th class="atributosPromos">Descripción</th>
            <th class="atributosPromos">Imagen</th>
            <th class="atributosPromos">Acción</th>
        </tr>
        @foreach (var imagen in Model.ImagenesPromosServ)
        {
            <tr>
                <td>@imagen.FileName</td>
                <td>
                    <img src="data:image/png;base64,@Convert.ToBase64String(imagen.ImageData)" />
                </td>
                <td class="linkPromos">
                    @Html.ActionLink("Eliminar", "DeleteImage", new { id = imagen.Id })
                </td>
            </tr>
        }
    </table>


</body>