@model System.Data.DataTable

@{
    ViewBag.Title = "Mis Facturas";

    System.Data.DataTable citasPorUsuario = ViewBag.CitasPorUsuario as System.Data.DataTable;
    System.Data.DataTable factProductoPorUsuario = ViewBag.FactProductoPorUsuario as System.Data.DataTable;
}

<div class="container">
    <h2>Facturas de citas</h2>
    @if (citasPorUsuario != null && citasPorUsuario.Rows.Count > 0)
    {
        <div class="form-group col-md-6">
            <label for="searchCitas">Buscar:</label>
            <input type="date" id="searchCitas" class="form-control" oninput="filterTable('Citas')" />
        </div>

        <table class="table table-striped Citas">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Servicio</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Atendió</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (System.Data.DataRow row in citasPorUsuario.Rows)
                {
                    <tr>
                        <td>@row["Id_Factura"]</td>
                        <td>@row["Fecha"]</td>
                        <td>@row["Nombre"]</td>
                        <td>@row["Descripcion"]</td>
                        <td>@row["Total"]</td>
                        <td>@row["Nombre_Empleado"] @row["Apellido_Empleado"] </td>
                        <td>
                            @Html.ActionLink("Imprimir", "ImprimirFacturaPDF", new { id = @row["Id_Factura"] })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No se encontraron facturas de citas.</p>
    }

    <h2>Facturas de Productos</h2>
    @if (factProductoPorUsuario != null && factProductoPorUsuario.Rows.Count > 0)
    {
        <div class="form-group col-md-6">
            <label for="searchFactProductos">Buscar:</label>
            <input type="date" id="searchFactProductos" class="form-control" oninput="filterTable('FactProductos')" />
        </div>

        <table class="table table-striped FactProductos">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (System.Data.DataRow row in factProductoPorUsuario.Rows)
                {
                    <tr>
                        <td>@row["Id_Factura"]</td>
                        <td>@row["Fecha"]</td>
                        <td>@row["Total"]</td>
                        <td>
                            @Html.ActionLink("Imprimir", "ImprimirFacturaProductosPDF", new { id = @row["Id_Factura"] })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No se encontraron facturas de productos.</p>
    }
</div>

<script>
    function filterTable(tableType) {
        var searchInputId = 'search' + tableType;
        var searchText = $('#' + searchInputId).val().toLowerCase();

        $('table.' + tableType + ' tbody tr').each(function () {
            var rowText = $(this).text().toLowerCase();
            $(this).toggle(rowText.indexOf(searchText) > -1);
        });
    }
</script>
