@model WebApplication1.Models.Citas

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Crear nueva cita</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="Fecha_Cita" class="control-label col-md-2">Fecha Cita:</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Fecha_Cita, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Fecha_Cita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Hora_Cita" class="control-label col-md-2">Hora Cita:</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Hora_Cita, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                @Html.ValidationMessageFor(model => model.Hora_Cita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Id_Empleado" class="control-label col-md-2">Id Empleado:</label>
            <div class="col-md-4">
                @Html.DropDownList("Id_Empleado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Id_Serv_Prod" class="control-label col-md-2">Id Servicio/Producto:</label>
            <div class="col-md-4">
                @Html.DropDownList("Id_Serv_Prod", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Serv_Prod, "", new { @class = "text-danger" })
            </div>
        </div>
        
    }

</div>
<br />
<div class="form-group text-center" style="margin-bottom: 20px;">
    <div class="col-md-offset-2 col-md-8">
        <input type="submit" value="Agendar" class="btn btn-primary" />
    </div>
</div>