﻿@model WebApplication1.Models.Citas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-1">
    <div class="col-md-12">
        <h2 class="text-center">Eliminar Cita</h2>

        <div class="row col-md-12">
            <div class="col-md-12">
                <h3 class="text-danger">¿Está seguro de eliminar esta cita?</h3>

                <dl class="row">
                    <dt class="col-sm-4">Fecha</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Fecha_Cita)</dd>

                    <dt class="col-sm-4">Hora</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Hora_Cita)</dd>

                    <dt class="col-sm-4">Estado</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Estado)</dd>

                    <dt class="col-sm-4">Usuario</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.AspNetUsers.Email)</dd>

                    <dt class="col-sm-4">Empleado</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Empleados.Nombre_Empleado)</dd>

                    <dt class="col-sm-4">Servicio/Producto</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Servicios_Productos.Nombre)</dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group text-center">
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                        <a class="btn btn-secondary" href="@Url.Action("Index")">Atrás</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
