@model System.Data.DataTable

@{
    ViewBag.Title = "Citas por Usuario";
}

<h2>Mis citas agendadas</h2>

<div class="row col-md-12">
    <div class="col-md-4 mx-auto">
        <label for="search">Buscar:</label>
        <input type="date" id="search" class="form-control" oninput="filterTable()" />
    </div>
</div>
@if (Model != null && Model.Rows.Count > 0)
{
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Fecha Cita</th>
                <th class="text-center">Hora Cita</th>
                <th class="text-center">Servicio</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Promoción</th>
                <th class="text-center">Descrición</th>
                <th class="text-center">Atiende</th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    <td>@row["Fecha_Cita"]</td>
                    <td>@row["Hora_Cita"]</td>
                    <td>@row["Nombre"]</td>
                    <td>@row["Precio"]</td>
                    <td>@(string.IsNullOrEmpty(row["Precio_Promo"].ToString()) ? "N/A" : row["Precio_Promo"])</td>
                    <td>@row["Descripcion"]</td>
                    <td>@row["Nombre_Empleado"] @row["Apellido_Empleado"] </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="mt-4">No se encontraron citas para este usuario.</p>
}

@section scripts {
    <script>
        function filterTable() {
            var searchText = $('#search').val().toLowerCase();

            $('table tbody tr').each(function () {
                var rowText = $(this).text().toLowerCase();
                $(this).toggle(rowText.indexOf(searchText) > -1);
            });
        }
    </script>
}