@model WebApplication1.Models.GananciaDiaria

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingresos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingresos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Egresos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Egresos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Ganancias }) |
    @Html.ActionLink("Atrás", "Index")
</p>
